
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px;
  align-items: center;
}

.main-nav {
  justify-self: start;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.nav-item-special {
  list-style: none;
}

.nav-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 18px;
}

.nav-link-current {
  text-decoration: none;
}

.logo {
  width: 148px;
  height: 105px;
  justify-self: center;
}

.contacts {
  justify-self: end;
  font-style: normal;
  line-height: 135%;
  font-size: 18px;
  max-width: 240px;
}

.contacts a {
  text-underline-offset: 4px;
}

.hero {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 165px 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 127px;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-title {
  position: relative;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
  line-height: 115%;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  line-height: 100%;
  margin: 20px 0;
  padding-right: 30px;
}

.aligned-text_right {
  text-align: right;
  line-height: 100%;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover-description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
}

.cover-description-text {
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  line-height: 127%;
  word-spacing: 18px;
  white-space: nowrap;
}

.bet-button {
  font-size: 22px;
  color: #fff;
  padding: 12px 32px;
  border: 1px solid #fff;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.lots {
  padding: 180px 50px;
}

.lots-heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
  flex-wrap: nowrap; 
}

.card-list-item {
  flex: 1;
  min-width: 0;
  width: 430px; 
  min-height: 450px; 
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%; 
  min-height: 450px; 
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-film {
  background-image: url("../images/card-lot-01.jpg");
}

.card-book {
  background-image: url("../images/card-lot-02.jpg");
}

.card-picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card-title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card-text {
  color: #fff;
  font-size: 20px;
  line-height: 120%;
  z-index: 1;
}

.look-more-link {
  font-size: 20px;
  margin-left: 40px;
  text-underline-offset: 4px;
}

.about {
  padding: 0 50px 180px;
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  justify-items: center;
}

.about-logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-logo-image {
  width: 148px;
}

.about-title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 100px 0;
}

.about-text {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer {
  padding: 0 50px 90px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
}

.footer-address {
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
}

.footer-address a {
  text-underline-offset: 4px;
}

.footer-menu {
  display: flex;
  justify-content: center;
}

.footer-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-menu-link {
  text-underline-offset: 4px;
  font-size: 18px;
}

.footer-menu-link_active {
  text-decoration: none;
}

.footer-social {
  justify-self: end;
}

.footer-social-list {
  list-style: none;
  display: flex;
  gap: 48px;
}

.footer-social-icon {
  width: 48px;
  height: 48px;
}