.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
  width: 1100px;
  margin: 0 auto;
}

.list-menu {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
  padding: 0;
  font-size: 18px;
}

.list-menu li:not(:last-child)::after {
  content: "•";
  color: #000;
  margin-left: 32px;
}

.list-menu a {
  color: #000;
  text-decoration: none;
  white-space: nowrap;
}

.logo-image {
  width: 148px;
  height: 105px;
  justify-self: center;
}

.address-header {
  font-size: 18px;
  font-style: normal;
  line-height: 1.2;
  text-align: right;
  justify-self: end;
}

.address-header a,
.address-header p {
  display: block;
  margin: 0;
  text-decoration: none;
  color: #000;
}

.photo-оно-тебе-надо {
  position: relative;
  width: 1100px;
  height: 757px;
  margin: 0 auto;
}

.лого-оно-тебе-надо {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ОНО,
.ТЕБЕ,
.НАДО {
  font-size: 115px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  line-height: 1;
  letter-spacing: 60px;
  text-transform: uppercase;
}

.ОНО {
  align-self: flex-start;
  margin-left: 70px;
  letter-spacing: 60px;
}

.ТЕБЕ {
  align-self: center;
  letter-spacing: 60px;
}

.НАДО {
  align-self: flex-end;
  margin-right: 70px;
  letter-spacing: 60px;
}

.text-button-wrapper {
  display: flex;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
}

.banner h3 {
  font-size: 22px;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 18px;
  text-align: center;
}

.banner button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 12px 32px;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
  font-family: inherit;
}

.lots {
  padding: 180px 50px;
  background: #fff;
  width: 1100px;
  margin: 0 auto;
}

.lots-name {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000;
}

.lots-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
}

.banner-lots-1,
.banner-lots-2,
.banner-lots-3 {
  position: relative;
  min-height: 450px;
  overflow: hidden;
}

.film-lots,
.film2-lots,
.film3-lots {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.banner-lots-1::before,
.banner-lots-2::before,
.banner-lots-3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.title-1-lots,
.title-2-lots,
.title-3-lots {
  position: absolute;
  top: 50px;
  left: 40px;
  right: 40px;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  z-index: 2;
  line-height: 1.2;
  text-decoration: underline;
}

.text1-lots,
.text2-lots,
.text3-lots {
  position: absolute;
  bottom: 50px;
  left: 40px;
  right: 40px;
  color: #fff;
  line-height: 1.2;
  margin: 0;
  z-index: 2;
  font-size: 20px;
}

.watch-more {
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 40px;
  border-bottom: 1px solid #000;
  padding-bottom: 1px;
}

.about-auction {
  background: #000;
  color: #fff;
  padding: 182px 50px 180px 50px;
  width: 1100px;
  margin: 0 auto;
}

.columns {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  max-width: 1140px;
  margin: 0 auto;
}

.logo-white-container {
  width: 240px;
  height: 240px;
  background: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 95px;
}

.logo-white {
  width: 148px;
  height: 114px;
}

.text-logo-white {
  flex: 1;
  padding-left: 25px;
  max-width: 885px;
}

.about-title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 100px 0;
  color: #fff;
}

.about-text {
  font-size: 20px;
  line-height: 1.2;
  margin: 0 0 25px 0;
  color: #fff;
}

.about-text2 {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  color: #fff;
}

.class-footer {
  background: #000;
  color: #fff;
  padding: 180px 50px 90px 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1100px;
  margin: 0 auto;
}

.address-footer {
  font-style: normal;
  line-height: 1.2;
}

.address-footer a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.address-footer p {
  margin: 0 0 10px 0;
  color: #fff;
}

.list-menu-footer {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.list-menu-footer li {
  margin-bottom: 10px;
}

.design-menu {
  color: #fff;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 18px;
}

.logotip-youtube {
  display: flex;
  gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.img-youtube,
.img-vk,
.img-pinterest {
  width: 48px;
  height: 48px;
}