.page-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 92px 50px;
  align-items: center;
}

.main-nav {
  padding-top: 0; 
}

.nav-list {
  display: flex;
  gap: 32px; 
  list-style: circle;
}

.nav-item-special {
  list-style: none;
}

.nav-link {
  text-decoration: underline;
  text-underline-offset: 4px; 
  font-size: 18px; 
}

.nav-link-current {
  text-decoration: none;
}

.logo {
  display: block;
  width: 148px; 
  height: 105px;
  margin: 0 auto; 
}

.contacts {
  justify-self: end;
  font-style: normal;
  line-height: 1.35;
  font-size: 18px; 

.contacts a {
  text-underline-offset: 4px;
}


.hero {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 165px 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 135px;

.dark-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-title {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
  line-height: 1.15; 
}

.title-line {
  display: block;
}

.title-line-center {
  text-align: center;
  margin: 20px 0; 
  padding-right: 60px; 
}

.title-line-right {
  text-align: right;
}

.big-space {
  letter-spacing: 60px;
}

.no-space {
  letter-spacing: normal;
}

.hero-info {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 78px; 
}

.hero-text {
  font-weight: 400;
  font-size: 22px;
  color: white;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px; 
  white-space: nowrap;
}

.action-btn {
  font-size: 22px;
  font-family: inherit;
  cursor: pointer;
  color: white;
  padding: 12px 32px;
  border: 1px solid white;
  text-transform: uppercase;
  background: transparent;
}


.lots-section {
  padding: 180px 50px; 
}

.section-heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 27px 40px; 
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px; 
}

.card-item {
  width: 430px;
  min-height: 450px;
  flex-grow: 1;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.auction-card {
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  height: 100%;
  box-sizing: border-box;
}

.card-film {
  background-image: url("../images/card-lot-01.jpg");
}

.card-book {
  background-image: url("../images/card-lot-02.jpg");
}

.card-art {
  background-image: url("../images/card-lot-03.jpg");
}

.card-heading {
  text-transform: uppercase;
  text-decoration: underline;
  z-index: 2;
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}

.card-description {
  z-index: 2;
  line-height: 1.2;
  color: white;
  font-weight: 400;
  font-size: 20px;
}

.more-link {
  font-size: 20px;
  text-underline-offset: 4px;
  margin-left: 40px; 
}

.about-section {
  display: grid;
  grid-template-columns: 430px 1fr; 
  padding: 0 50px 180px;
  gap: 25px;
  align-items: start; 
}

.circle-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  justify-self: center; 
}

.logo-white {
  width: 148px; 
}

.about-heading {
  margin: 100px 0; 
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
}


.page-footer {
  padding: 0 50px 90px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start; 
}

.footer-contacts {
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.footer-contacts a {
  text-underline-offset: 4px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 5px; 
}

.footer-link {
  text-underline-offset: 4px;
  font-size: 18px; 
}

.footer-link-current {
  text-decoration: none;
}

.social-nav {
  justify-self: end;
}

.social-links {
  display: flex;
  gap: 48px; 
  list-style: none;
}

.social-img {
  height: 48px;
  width: auto; 
}
