
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 92px 50px;
  align-items: center;
}

.site-nav {
  justify-self: start;
  padding-top: 40px;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: circle;
}

.no-bullet {
  list-style: none;
}

.nav-link {
  text-decoration: underline;
  text-underline-offset: 5px;
  font-size: 18px;
}

.current-page {
  text-decoration: none;
}

.site-logo {
  width: 150px;
  height: 107px;
  justify-self: center;
}

.logo-img {
  width: 100%;
  height: auto;
}

.header-contacts {
  justify-self: end;
  font-style: normal;
  line-height: 1.35;
  font-size: 18px;
  max-width: 250px;
  text-align: right;
}

.header-contacts a {
  text-underline-offset: 5px;
}

.main-cover {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 165px 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 130px;
}

.cover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-title {
  position: relative;
  color: #fff;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 35px;
  text-transform: uppercase;
  line-height: 1.15;
}

.title-line {
  display: block;
}

.center-line {
  text-align: center;
  line-height: 1;
  margin: 20px 0;
  padding-right: 55px;
}

.right-line {
  text-align: right;
  line-height: 1;
}

.spacing-wide {
  letter-spacing: 55px;
}

.no-spacing {
  letter-spacing: 0;
}

.cover-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 75px;
}

.cover-text {
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.3;
  word-spacing: 20px;
}

.bid-btn {
  font-size: 22px;
  color: #fff;
  padding: 12px 30px;
  border: 1px solid #fff;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.lots-section {
  padding: 180px 50px;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 25px 40px;
}

.lots-grid {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-bottom: 25px;
}

.lot-item {
  flex: 1;
  min-height: 450px;
}

.lot-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.lot-card {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 450px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.film-lot {
  background-image: url("../images/card-lot-01.jpg");
}

.book-lot {
  background-image: url("../images/card-lot-02.jpg");
}

.art-lot {
  background-image: url("../images/card-lot-03.jpg");
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.lot-name {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1;
}

.lot-description {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  z-index: 1;
}

.more-link {
  font-size: 20px;
  margin-left: 40px;
  text-underline-offset: 5px;
}

.about-section {
  padding: 0 50px 180px;
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.round-logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-logo {
  width: 150px;
  height: auto;
}

.about-heading {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 100px 0;
}

.about-paragraphs {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.site-footer {
  padding: 0 50px 90px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
}

.footer-contacts {
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.footer-contacts a {
  text-underline-offset: 5px;
}

.footer-nav {
  display: flex;
  justify-content: center;
}

.footer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-link {
  text-underline-offset: 5px;
  font-size: 18px;
}

.active-footer-link {
  text-decoration: none;
}

.social-links {
  justify-self: end;
}

.social-list {
  list-style: none;
  display: flex;
  gap: 45px;
}

.social-icon {
  width: 50px;
  height: 50px;
}