
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px;
  align-items: center;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.header__link-active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
  justify-self: center;
}

.header__address {
  justify-self: end;
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
}

.header__address a {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 135px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
  line-height: 1.15;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  line-height: 1;
  padding: 20px 0;
  margin-left: 60px;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  position: relative;
}

.cover__description-text {
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.27;
  word-spacing: 18px;
}

.bet-button {
  font-size: 22px;
  color: #fff;
  padding: 12px 32px;
  border: 1px solid #fff;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.lots {
  padding: 180px 50px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex: 1;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 450px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  z-index: 1;
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 40px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  padding: 0 50px 180px;
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 100px 0;
}

.about__text {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer {
  padding: 0 50px 90px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
}

.address {
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.address a {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.footer__menu {
  display: flex;
  justify-content: center;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-nav {
  justify-self: end;
}

.footer__social-list {
  list-style: none;
  display: flex;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}