body {
  font-family: "Raleway", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 50px;
}

.list-menu {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin-top: 21px;
  font-size: 18px;
}

.list-menu li:not(:last-child)::after {
  content: "•";
  color: #000;
  margin-left: 32px;
}

.list-menu a {
  color: #000;
  text-decoration: none;
  white-space: nowrap;
}

.logo-image {
  width: 148px;
  height: 105px;
}

.address-header {
  font-size: 18px;
  font-style: normal;
  line-height: 1.2;
  text-align: right;
}

.address-header a,
.address-header p {
  display: block;
  margin: 0;
  text-decoration: none;
  color: #000;
}

.photo-оно-тебе-надо {
  position: relative;
  width: 1100px;
  height: 757px;
}

.лого-оно-тебе-надо {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(0.7);
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ОНО,
.ТЕБЕ,
.НАДО {
  font-size: 100px;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
  line-height: 1;
  letter-spacing: 30px;
  text-transform: uppercase;
  text-indent: 30px;
}

.ОНО {
  align-self: flex-start;
  margin-left: 50px;
  letter-spacing: 40px;
}

.ТЕБЕ {
  letter-spacing: 35px;
  margin-left: 0;
}

.НАДО {
  align-self: flex-end;
  margin-right: 50px;
  letter-spacing: 40px;
}

.text-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
  white-space: nowrap;
}

.banner h3 {
  font-size: 20px;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: normal;
  white-space: nowrap;
}

.banner button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
  font-family: inherit;
  white-space: nowrap;
  flex-shrink: 0;
}

.lots {
  padding: 50px;
  background: #fff;
}

.lots-name {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-left: 50px;
  color: #000;
}

.lots-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0 50px 50px 50px;
}

.banner-lots-1,
.banner-lots-2,
.banner-lots-3 {
  position: relative;
  min-height: 500px;
  background: #000;
  overflow: hidden;
}

.film-lots,
.film2-lots,
.film3-lots {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.banner-lots-1::after,
.banner-lots-2::after,
.banner-lots-3::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.8) 100%);
  z-index: 1;
}

.title-1-lots,
.title-2-lots,
.title-3-lots {
  position: absolute;
  bottom: 200px;
  left: 25px;
  right: 25px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  z-index: 2;
  line-height: 1.2;
  top: 48px;
  text-decoration: underline;
}

.text1-lots,
.text2-lots,
.text3-lots {
  position: absolute;
  bottom: 50px;
  left: 25px;
  right: 25px;
  color: #fff;
  line-height: 1.3;
  margin: 0;
  z-index: 2;
  font-size: 20px;
  font-family: "Raleway";
}

.watch-more {
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 40px;
  padding-bottom: 2px;
  border-bottom: 1px solid #000;
}

.about-auction {
  background: #fff;
  color: #000;
  padding: 180px 50px 100px 50px;
}

.columns {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  max-width: 1140px;
  margin: 0 auto;
}

.logo-white-container {
  width: 240px;
  height: 240px;
  background: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.logo-white {
  width: 148px;
  height: 114px;
}

.text-logo-white {
  flex: 1;
  padding-left: 25px;
}

.about-title {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 100px 0;
  letter-spacing: 1.5px;
  color: #000;
}

.about-text {
  font-size: 20px;
  line-height: 1.4;
  margin: 0 0 30px 0;
  max-width: 885px;
  color: #000;
}

.about-text2 {
  font-size: 20px;
  line-height: 1.4;
  margin: 0;
  max-width: 885px;
  color: #000;
}

.class-footer {
  background: #fff;
  color: #000;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.address-footer {
  font-style: normal;
  line-height: 1.4;
}

.address-footer a {
  color: #000;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.address-footer p {
  margin: 0 0 10px 0;
  color: #000;
}

.list-menu-footer {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
}

.list-menu-footer li {
  margin-bottom: 10px;
}

.design-menu {
  color: #000;
  text-decoration: none;
  text-transform: lowercase;
}

.logotip-youtube {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.img-youtube,
.img-vk,
.img-pinterest {
  width: 48px;
  height: 48px;
}