body {
  font-family: 'Raleway', sans-serif;
  min-width: 1100px;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 50px 91px 50px;
  color: #000;
  font-size: 18px;
}

.list-menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 32px;
}

.list-menu li {
  display: flex;
  align-items: center;
}

.list-menu li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 1px;
  background-color: #000;
  border-radius: 50%;
  margin-left: 32px;
}

.list-menu a {
  color: #000;
  text-decoration: none;
  white-space: nowrap;
  border-bottom: 1px solid currentColor;
}

.logo-image {
  width: 148px;
  height: 105px;
  justify-self: center;
}

.address {
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-align: right;
  max-width: 240px;
  justify-self: end;
}

.address a,
.address p {
  display: block;
  margin: 0;
  text-decoration: none;
  color: #000;
}

.photo-оно-тебе-надо {
  position: relative;
  width: 1100px;
  height: 757px;
  margin: 0 auto;
  background: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.лого-оно-тебе-надо {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 165px 50px 50px;
  box-sizing: border-box;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ОНО,
.ТЕБЕ,
.НАДО {
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
  margin: 0;
}

.ОНО {
  align-self: flex-start;
  letter-spacing: 60px;
}

.ТЕБЕ {
  align-self: center;
  letter-spacing: 30px;
}

.НАДО {
  align-self: flex-end;
  letter-spacing: 60px;
}

.text-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 78px;
  margin-top: 0;
}

.text-button-wrapper h3 {
  font-size: 22px;
  font-weight: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
  margin: 0;
  color: #fff;
}

.text-button-wrapper button {
  border: 1px solid #fff;
  padding: 12px 32px;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-family: inherit;
  white-space: nowrap;
  background-color: transparent;
}

.lots {
  padding: 180px 50px;
  max-width: 1100px;
  margin: 0 auto;
}

.lots-name {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
  color: #000;
}

.lots-menu {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
}

.lots-menu li {
  position: relative;
  width: 334px;
  height: 563px;
  flex-grow: 1;
}

.film-lots,
.film2-lots,
.film3-lots {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.banner-lots-1,
.banner-lots-2,
.banner-lots-3 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  color: #fff;
  overflow: hidden;
}

.banner-lots-1::after,
.banner-lots-2::after,
.banner-lots-3::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.title-1-lots,
.title-2-lots,
.title-3-lots {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
  margin: 0;
  z-index: 2;
  position: relative;
}

.text1-lots,
.text2-lots,
.text3-lots {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  z-index: 2;
  position: relative;
}

.watch-more {
  display: inline-block;
  color: #000;
  font-size: 20px;
  text-decoration: underline;
  margin-left: 40px;
}

.about-auction {
  padding: 0 50px 180px;
  max-width: 1100px;
  margin: 0 auto;
}

.columns {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  align-items: start;
}

.logo-white-container {
  width: 240px;
  height: 240px;
  background: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.logo-white {
  width: 148px;
  height: 114px;
}

.text-logo-white {
  padding-top: 0;
}

.about-title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 100px 0 25px 0;
  color: #000;
}

.about-text,
.about-text2 {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 25px 0;
  color: #000;
}

.about-text:last-of-type,
.about-text2:last-of-type {
  margin-bottom: 0;
}

.class-footer {
  padding: 0 50px 90px;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
}

.address-footer {
  font-style: normal;
  line-height: 24.3px;
  font-size: 18px;
  margin: 0;
  padding: 0;
  justify-self: start;
}

.address-footer a,
.address-footer p {
  display: block;
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
}

.footer-menu {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  justify-self: center;
}

.list-menu-footer {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.list-menu-footer li {
  margin: 0 0 10px 0;
  padding: 0;
  line-height: normal;
}

.list-menu-footer li:last-child {
  margin-bottom: 0;
}

.design-menu {
  font-size: 18px;
  color: #000;
  text-decoration: underline;
}

.logotip-youtube {
  display: flex;
  gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-self: end;
}

.img-youtube,
.img-vk,
.img-pinterest {
  width: 48px;
  height: 48px;
}